[submodule "OCA/reporting-engine"]
	path = OCA/reporting-engine
	url = git@github.com:OCA/reporting-engine.git
	branch = 10.0

[submodule "OCA/field-service"]
	path = OCA/field-service
	url = git@github.com:OCA/field-service.git
	branch = 12.0
